<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="databasePath" value="./ExternalFiles\database.csv"/>
      <add key="metadataPath" value="./ExternalFiles\metadata.joblib"/>
      <add key="pythonPath" value="C:\Users\artur\AppData\Local\Programs\Python\Python37\python.exe"/>
      <add key="classifyScriptPath" value="./ExternalFiles\FeatureExtractionAndClassification.py"/>
      <add key="updateScriptPath" value="./ExternalFiles\ModelUpdateAndRecalculation.py"/>
    </appSettings>
</configuration>